
html{
    height: 100%;
    width: 100%;
}

body{
    min-height: 100%;
    min-width: 100%;
    margin: 0;
}


main{
    position: absolute;
}

main a{
    color: black;
}

header{
    margin: 0%;
    position: absolute;
    top: 0;
    height:117px;
    width: 100%;
    padding: 0%;
	border: black;
	border-width: 2px;
	box-shadow: 0px 3px 20px 3px rgba(0, 0, 0, 0.06);
}
.head_container{
    position: absolute;
    top: 0;
    width: 100%;
    height:117px;
    left: 0; 
    background-color: black;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
	overflow: hidden;
}
.logo img{
	height: 60px;
}

.carr{
    position: absolute; 
    float: right; 
    right: 33%; 
    width: 5%;
}

.carr2{
    position: absolute; 
    float: right; 
    right: 30%; 
    width: 5%;
}
.menu{
	display: flex;
	flex-direction: row;
    align-items: center;
    text-align: center;
	margin-top:5px;
    width: 100%;
}
.menu ul{
	position: absolute;
	display: flex;
	flex-direction: row;
    width: 100%;
    align-items: center;
    text-align: center;
	list-style-type: none;
	padding: 0;
}

.carrito{
    position: relative;
    float:right;
    margin-right: 10%;
}
.header_tot{
	position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 20%;
}
.menu a{
	position: relative;
    font-family: Open Sans;
    text-transform: uppercase;
	text-decoration: none;
	font-weight: 600;
    font-size: 13px;
	color: white;
	    padding-left: 15px;
	    padding-right: 15px;
}
.menu a:hover {
	margin: 0;
	right: 0; 
	left: 0;
	background: rgba(247, 202, 24, 0.1);
    border:#F7CA18;
    border-radius: 20px;
    border-style: solid;
    border-width: 2px;
	padding:8px;
	    padding-left: 13px;
	    padding-right: 13.30px;
		-webkit-transition: .25s linear;
    -moz-transition: .25s linear;
    transition: .25s linear;

}

.icon{
	display: none;
}

menu.responsive{
	position: relative;
}
menu.responsive{
	float: none;
    display: block;
    text-align: left;
}

.sidenav {
	height: 100%;
    width: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    transition: 0.2s;
    box-shadow: 2px 8px 20px rgba(0, 0, 0, 0.24);
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #1c3664;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #F7CA18;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#login{
    right: -1000px;
    opacity: 1;
    top: 117px;
    position: absolute;
    z-index: 100;
}
.form-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 280px;
    height: 280px;
    background: #4e4d4d;
    border-radius: 8px;
    margin: auto;
    box-shadow: 7px 13px 37px #000;
    padding: 20px 30px;
    border-top: 4px solid #017bab;
    color: white;
  }
  .form-login h5 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
  }
input::placeholder{
    padding-left: 10px;
  }
  .controls {
    width: 100%;
    border: 1px solid #017bab;
    margin-bottom: 15px;
    height: 40px;
    background: #252323;
    font-size: 14px;
    font-weight: bold;
    color: white;
  }

  .controls2 {
    width: 100%;
    border: 1px solid #017bab;
    margin-bottom: 15px;
    height: 40px;
    background: #252323;
    font-size: 14px;
    font-weight: bold;
    color: white;
  }
  
  .buttons {
    width: 100%;
    height: 40px;
    background: #017bab;
    border: none;
    color: white;
    margin-bottom: 16px;
    border-radius: 5px;
  }
  .buttons:hover{
    background: green;
    cursor: pointer;
  }
  .form-login p{
    height: 40px;
    text-align: center;
    border-bottom: 1px solid;
  }
  
  .form-login a {
    color: white;
    text-decoration: none;
    font-size: 14px;
  }
  
  .form-login a:hover {
    text-decoration: underline;
  }

  #opcio1{
      height: 50%;
      position: absolute;
      width: 18%;
      border: solid 1px black;
      border-radius: 20px;
      background-image: url(https://i.pinimg.com/564x/ef/f6/64/eff6642a4e939908d4df9bfec2ef51d9--winter-sports-extreme-sports.jpg);
      background-size: 100% 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      
      left: 18%;
      top: 20%;
  }

  #opcio1:hover{
      height: 60%;
      width: 22%;
      left: 16%;
      top: 15%;
      z-index: 100;
      box-shadow: 0 0 25px 10px black;
  }
  #opcio2{
    height: 50%;
    position: absolute;
    width: 18%;
    border: solid 1px black;
    border-radius: 20px;
    background-image: url(https://s1.1zoom.me/b6951/566/Winter_Skiing_Snow_Sun_561779_1080x1920.jpg);
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    left: 40%;
    top: 20%;
}
#opcio2:hover{
    height: 60%;
    width: 22%;
    left: 38%;
    top: 15%;
    z-index: 100;
    box-shadow: 0 0 25px 10px black;
}
#opcio3{
    height: 50%;
    position: absolute;
    width: 18%;
    border: solid 1px black;
    border-radius: 20px;
    background-image: url(https://cms.coppercolorado.com/sites/copper/files/2020-04/Copper%20Mountain%20Mobile%20Background%20-%20Resolution_1.jpg);
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    left: 62%;
    top: 20%;
}
#opcio3:hover{
    height: 60%;
    width: 22%;
    left: 60%;
    z-index: 100;
    top: 15%;
        box-shadow: 0 0 25px 10px black;

}
.titol1{
    position: absolute;
    top: 20px;
    width: 80%;
    height: 12%;
    display: flex;
    text-align: center;
    align-items: center;
    border: solid 1px black;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 7px 13px 37px #000;
    border-radius: 20px;
    color: rgb(0, 0, 0);
}
.contingut{
    position: absolute;
    cursor: pointer;
    font-size: 16px;
    font-family: Open Sans;
    width: 80%;
    height: 50%;
    display: flex;
    text-align: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);

    box-shadow: 7px 13px 37px #000;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    color: rgb(0, 0, 0);
}

  main{
      position: absolute;
      top: 117px;
      display: flex;
      justify-content: center;
      flex-direction: row;
      height: 100%;
      width: 100%;
  }
.boton{
    position: absolute;
    width: 80%;
    bottom: 30px;
}
  .boto {
      margin-top: 20px;
    width: 100%;
    height: 40px;
    background: #017bab;
    border: none;
    color: white;
    border-radius: 5px;
  }

  .boto:hover{
      background: green;
      box-shadow: 7px 13px 37px #000;
  }









  
@media screen and (max-width: 835px) {
	.logo img {
	    height: 20px;
	}
	.menu{
		margin:0;
	}
}


@media screen and (max-width: 690px) {

.menu a{
    font-size: 8px;
}
header{
    height: 80px;
}
.head_container{
    height: 80px;
}
.carr{
    position: absolute; 
    float: right; 
    right: 100px; 
    width: 5%;
}

.carr2{
    position: absolute; 
    float: right; 
    right: 70px; 
    width: 5%;
}
.menu ul{
    display: flex;
    flex-direction: row;
    width: 400px;
}
.menu a{
	position: relative;
    font-family: Open Sans;
    text-transform: uppercase;
	text-decoration: none;
	font-weight: 600;
    font-size: 8px;
	color: white;
    padding: 4px;
}
.menu a:hover {
	margin: 0;
	right: 0; 
	left: 0;
	background: rgba(247, 202, 24, 0.1);
    border:#F7CA18;
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    padding: 4px;
		-webkit-transition: .25s linear;
    -moz-transition: .25s linear;
    transition: .25s linear;

}
.header_tot{
    margin-left: 2px;
}
.icon{
    font-weight: 900 !important;
        font-size: 27px !important;
    padding: 0;
    margin: 0;
       margin-top: -22px;
    display: flex;
}
	.logo img {
        float: left;
	    height: 40px;
	}


    
#login{
    right: -1000px;
    opacity: 1;
    top: 90px;
    position: absolute;
    z-index: 100;
}
.form-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 240px;
    height: 280px;
    background: #4e4d4d;
    border-radius: 8px;
    margin: auto;
    box-shadow: 7px 13px 37px #000;
    padding: 20px 30px;
    border-top: 4px solid #017bab;
    color: white;
  }
  .form-login h5 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
  }
input::placeholder{
    padding-left: 10px;
  }
  .controls {
    width: 100%;
    border: 1px solid #017bab;
    margin-bottom: 15px;
    height: 40px;
    background: #252323;
    font-size: 14px;
    font-weight: bold;
    color: white;
  }

  .controls2 {
    width: 100%;
    border: 1px solid #017bab;
    margin-bottom: 15px;
    height: 40px;
    background: #252323;
    font-size: 14px;
    font-weight: bold;
    color: white;
  }
  
  .buttons {
    width: 100%;
    height: 40px;
    background: #017bab;
    border: none;
    color: white;
    margin-bottom: 16px;
    border-radius: 5px;
  }
  .buttons:hover{
    background: green;
    cursor: pointer;
  }
  .form-login p{
    height: 40px;
    text-align: center;
    border-bottom: 1px solid;
  }
  
  .form-login a {
    color: white;
    text-decoration: none;
    font-size: 14px;
  }
  
  .form-login a:hover {
    text-decoration: underline;
  }
}
